# Airbnb Berlin Price Prediction 
---

### *Table of Contents*
- [Exploratory Data Analysis](#eda)
- [Preprocessing](#preprocessing)
- [Modeling](#modeling)

In [54]:
import pandas as pd
import numpy as np

#
import matplotlib.pyplot as plt

#
from sklearn.model_selection import train_test_split

import os

### Import data

In [55]:
data_dir = "data"

In [56]:
trainset = pd.read_csv('data/train_airbnb_berlin.csv')
X_train = trainset.drop("Price", axis=1)
y_train = trainset["Price"]

In [57]:
X_train.columns

Index(['Listing ID', 'Listing Name', 'Host ID', 'Host Name', 'Host Since',
       'Host Response Time', 'Host Response Rate', 'Is Superhost',
       'neighbourhood', 'Neighborhood Group', 'City', 'Postal Code',
       'Country Code', 'Country', 'Latitude', 'Longitude', 'Is Exact Location',
       'Property Type', 'Room Type', 'Accomodates', 'Bathrooms', 'Bedrooms',
       'Beds', 'Square Feet', 'Guests Included', 'Min Nights', 'Reviews',
       'First Review', 'Last Review', 'Overall Rating', 'Accuracy Rating',
       'Cleanliness Rating', 'Checkin Rating', 'Communication Rating',
       'Location Rating', 'Value Rating', 'Instant Bookable',
       'Business Travel Ready'],
      dtype='object')

In [58]:
sub_X = X_train[["Room Type", "Accomodates", "Bathrooms", "Bedrooms", "Beds", "Guests Included", "Min Nights"]]

In [59]:
sub_X.head()

,Room Type,Accomodates,Bathrooms,Bedrooms,Beds,Guests Included,Min Nights
0,Private room,2,1.0,1.0,1.0,1,2
1,Entire home/apt,2,1.0,2.0,2.0,2,7
2,Entire home/apt,3,1.0,1.0,2.0,1,1
3,Private room,2,1.0,1.0,1.0,1,2
4,Private room,3,1.0,1.0,2.0,1,6

In [60]:
sub_X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15692 entries, 0 to 15691
Data columns (total 7 columns):
Room Type          15692 non-null object
Accomodates        15692 non-null object
Bathrooms          15678 non-null object
Bedrooms           15687 non-null object
Beds               15684 non-null object
Guests Included    15692 non-null object
Min Nights         15692 non-null object
dtypes: object(7)
memory usage: 429.1+ KB

In [61]:
cpt=0
carac_spec=[];

for col in sub_X:
    for el in sub_X[col].values:
        if type(el) != str:
            cpt+=1
            carac_spec.append(el)
    print("Nombre de NaN spéciaux dans la colonne", col, ":" ,cpt)
    cpt = 0

Nombre de NaN spéciaux dans la colonne Room Type : 0
Nombre de NaN spéciaux dans la colonne Accomodates : 0
Nombre de NaN spéciaux dans la colonne Bathrooms : 14
Nombre de NaN spéciaux dans la colonne Bedrooms : 5
Nombre de NaN spéciaux dans la colonne Beds : 8
Nombre de NaN spéciaux dans la colonne Guests Included : 0
Nombre de NaN spéciaux dans la colonne Min Nights : 0

In [66]:
sub_X.describe()

,Room Type,Accomodates,Bathrooms,Bedrooms,Beds,Guests Included,Min Nights
count,15692,15692,15678,15687,15684,15692,15692
unique,3,13,8,7,12,8,25
top,Private room,2,1.0,1.0,1.0,1,2
freq,7877,8528,13829,11832,10023,12056,4064