In [26]:
import pandas as pd 
import sklearn
import numpy as np
import os 
import matplotlib.pyplot as plt

In [6]:
try :
    os.chdir("data")
except:
    print(os.getcwd())

In [53]:
Trainset = pd.read_csv("train_airbnb_berlin.csv",encoding="utf_8_sig")
X_train=Trainset.drop('Price',axis=1)
X_test=Trainset['Price']

In [55]:
X_train.columns

Index(['Listing ID', 'Listing Name', 'Host ID', 'Host Name', 'Host Since',
       'Host Response Time', 'Host Response Rate', 'Is Superhost',
       'neighbourhood', 'Neighborhood Group', 'City', 'Postal Code',
       'Country Code', 'Country', 'Latitude', 'Longitude', 'Is Exact Location',
       'Property Type', 'Room Type', 'Accomodates', 'Bathrooms', 'Bedrooms',
       'Beds', 'Square Feet', 'Guests Included', 'Min Nights', 'Reviews',
       'First Review', 'Last Review', 'Overall Rating', 'Accuracy Rating',
       'Cleanliness Rating', 'Checkin Rating', 'Communication Rating',
       'Location Rating', 'Value Rating', 'Instant Bookable',
       'Business Travel Ready'],
      dtype='object')

In [121]:
#### Preprocessing
to_drop=['Listing ID', 'Listing Name', "Host ID","City",'Country Code','Country','Square Feet' ]
X_train_pro=X_train.drop(to_drop,axis=1)

X_train_pro

,Host Name,Host Since,Host Response Time,Host Response Rate,Is Superhost,neighbourhood,Neighborhood Group,Postal Code,Latitude,Longitude,...,Last Review,Overall Rating,Accuracy Rating,Cleanliness Rating,Checkin Rating,Communication Rating,Location Rating,Value Rating,Instant Bookable,Business Travel Ready
0,Maximilian,2016-01-20,NaN,NaN,f,Prenzlauer Berg,Pankow,10437.0,52.54652,13.41792,...,2017-08-08,100.0,10.0,10.0,10.0,10.0,9.0,10.0,t,f
1,Dulie,2013-04-07,NaN,NaN,f,Pankow,Pankow,13187.0,52.56512,13.42214,...,2019-04-30,90.0,9.0,9.0,10.0,10.0,9.0,10.0,f,f
2,Geank,2016-02-07,NaN,NaN,f,Prenzlauer Berg,Pankow,10439.0,52.54741,13.42521,...,2016-07-04,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,f
3,Alix,2018-06-26,NaN,NaN,f,Friedrichshain,Friedrichshain-Kreuzberg,10245,52.50958,13.45144,...,2018-08-12,100.0,10.0,10.0,10.0,10.0,10.0,9.0,f,f
4,Lurina,2013-05-16,within a few hours,92%,t,Prenzlauer Berg,Pankow,10405.0,52.52995,13.41558,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,t,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15687,Ascharl,2013-06-22,a few days or more,33%,f,Kreuzberg,Friedrichshain-Kreuzberg,10961.0,52.49016,13.39241,...,2019-01-02,98.0,10.0,9.0,10.0,10.0,10.0,10.0,f,f
15688,Marki,2015-04-19,NaN,NaN,f,NeukÃ¶lln,NeukÃ¶lln,12055.0,52.47586,13.45362,...,2016-07-31,100.0,10.0,9.0,10.0,10.0,10.0,9.0,f,f
15689,Ada,2016-08-11,NaN,NaN,f,Wedding,Mitte,13351.0,52.54196,13.34179,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,f
15690,Lanna,2015-12-06,within a day,50%,f,SchÃ¶neberg,Tempelhof - SchÃ¶neberg,12159.0,52.47179,13.33103,...,2018-08-07,90.0,10.0,10.0,10.0,10.0,10.0,9.0,f,f
15691,OloreA,2017-08-07,within an hour,100%,f,Rummelsburg,Lichtenberg,10315,52.50900,13.49387,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,t,f

True

In [117]:
def list_star_in_raws(df):
    res=[]
    for i in range(len(df)):
        raw=df.iloc[i]
        res.append("*" not in raw.values)
    return res

list_bool_star=list_star_in_raws(X_train_pro)
print(15962-sum(list_bool_star))

1650

In [122]:
X_train_pro=X_train_pro.loc[list_bool_star]

In [123]:
X_train_pro

,Host Name,Host Since,Host Response Time,Host Response Rate,Is Superhost,neighbourhood,Neighborhood Group,Postal Code,Latitude,Longitude,...,Last Review,Overall Rating,Accuracy Rating,Cleanliness Rating,Checkin Rating,Communication Rating,Location Rating,Value Rating,Instant Bookable,Business Travel Ready
0,Maximilian,2016-01-20,NaN,NaN,f,Prenzlauer Berg,Pankow,10437.0,52.54652,13.41792,...,2017-08-08,100.0,10.0,10.0,10.0,10.0,9.0,10.0,t,f
1,Dulie,2013-04-07,NaN,NaN,f,Pankow,Pankow,13187.0,52.56512,13.42214,...,2019-04-30,90.0,9.0,9.0,10.0,10.0,9.0,10.0,f,f
2,Geank,2016-02-07,NaN,NaN,f,Prenzlauer Berg,Pankow,10439.0,52.54741,13.42521,...,2016-07-04,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f,f
3,Alix,2018-06-26,NaN,NaN,f,Friedrichshain,Friedrichshain-Kreuzberg,10245,52.50958,13.45144,...,2018-08-12,100.0,10.0,10.0,10.0,10.0,10.0,9.0,f,f
4,Lurina,2013-05-16,within a few hours,92%,t,Prenzlauer Berg,Pankow,10405.0,52.52995,13.41558,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,t,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15687,Ascharl,2013-06-22,a few days or more,33%,f,Kreuzberg,Friedrichshain-Kreuzberg,10961.0,52.49016,13.39241,...,2019-01-02,98.0,10.0,9.0,10.0,10.0,10.0,10.0,f,f
15688,Marki,2015-04-19,NaN,NaN,f,NeukÃ¶lln,NeukÃ¶lln,12055.0,52.47586,13.45362,...,2016-07-31,100.0,10.0,9.0,10.0,10.0,10.0,9.0,f,f
15689,Ada,2016-08-11,NaN,NaN,f,Wedding,Mitte,13351.0,52.54196,13.34179,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,f
15690,Lanna,2015-12-06,within a day,50%,f,SchÃ¶neberg,Tempelhof - SchÃ¶neberg,12159.0,52.47179,13.33103,...,2018-08-07,90.0,10.0,10.0,10.0,10.0,10.0,9.0,f,f
15691,OloreA,2017-08-07,within an hour,100%,f,Rummelsburg,Lichtenberg,10315,52.50900,13.49387,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,t,f

In [38]:
X_train[col].value_counts()

50.0     949
30.0     949
40.0     862
35.0     806
25.0     709
        ...
429.0      1
540.0      1
450.0      1
127.0      1
432.0      1
Name: Price, Length: 257, dtype: int64

In [43]:
c=0
for col in X_train.columns:
    if  "*" in X_train[col].values:
        print(col,X_train[col].value_counts())
        c+=1
print("Nombre de col avec *: ", c)

Listing Name *    15638
Name: Listing Name, dtype: int64
Host Response Rate 100%    6254
90%      419
80%      191
0%       185
50%      180
*        174
75%      111
67%      105
83%       89
70%       89
60%       80
88%       70
86%       64
89%       61
40%       54
94%       45
91%       41
33%       40
93%       39
92%       38
71%       33
96%       29
95%       28
99%       28
20%       26
78%       24
97%       21
98%       21
63%       19
82%       17
87%       13
25%       12
58%        9
30%        8
Name: Host Response Rate, dtype: int64
neighbourhood NeukÃ¶lln                2364
Prenzlauer Berg          2012
Kreuzberg                1946
Friedrichshain           1814
Mitte                    1403
                         ...
Wannsee                    12
Friedrichshagen            12
Buckow                      9
Karow                       9
FranzÃ¶sisch Buchholz       6
Name: neighbourhood, Length: 63, dtype: int64
City Berlin    15644
*            47
Name: City, dtype: int64
Postal Code *          870
10245.0    508
10247.0    458
10437.0    436
10115.0    385
          ...
10789.0      9
14163.0      8
12589.0      8
13355        7
13581.0      5
Name: Postal Code, Length: 185, dtype: int64
Property Type Apartment             14132
Condominium             374
Loft                    334
House                   283
Serviced apartment      116
*                        75
Townhouse                68
Hostel                   58
Bed and breakfast        51
Guest suite              49
Other                    42
Hotel                    36
Guesthouse               33
Boutique hotel           19
Bungalow                 15
Boat                      7
Name: Property Type, dtype: int64
Accomodates 2     8528
4     2233
3     1886
1     1775
6      512
5      469
8      100
7       80
9       37
10      34
*       19
12      15
16       4
Name: Accomodates, dtype: int64
Bathrooms 1.0    13829
2.0      897
1.5      796
0.5       66
2.5       43
3.0       28
*         11
0.0        8
Name: Bathrooms, dtype: int64
Bedrooms 1.0    11832
2.0     2112
0.0     1147
3.0      485
4.0       80
5.0       20
*         11
Name: Bedrooms, dtype: int64
Beds 1.0     10023
2.0      3713
3.0       966
4.0       530
5.0       178
6.0       151
7.0        33
8.0        32
0.0        22
10.0       14
*          12
9.0        10
Name: Beds, dtype: int64
Guests Included 1    12056
2     2880
4      410
3      250
6       37
5       36
8       13
*       10
Name: Guests Included, dtype: int64
Min Nights 2      4064
1      3652
3      3106
4      1215
5      1029
7       651
6       336
14      261
*       249
60      200
10      174
30      151
90      114
20       81
21       58
8        52
180      45
9        45
28       42
15       40
12       31
13       30
25       28
62       20
61       18
Name: Min Nights, dtype: int64
Nombre de col avec *:  12

C:\Users\Utlisateur\AppData\Local\Temp\ipykernel_9772\2078062795.py:3: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if  "*" in X_train[col].values:
C:\Users\Utlisateur\AppData\Local\Temp\ipykernel_9772\2078062795.py:3: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if  "*" in X_train[col].values:
C:\Users\Utlisateur\AppData\Local\Temp\ipykernel_9772\2078062795.py:3: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if  "*" in X_train[col].values:
C:\Users\Utlisateur\AppData\Local\Temp\ipykernel_9772\2078062795.py:3: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if  "*" in X_train[col].values:
C:\Users\Utlisateur\AppData\Local\Temp\ipykernel_9772\2078062795.py:3: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if  "*" in X_train[col].values:

In [44]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15692 entries, 0 to 15691
Data columns (total 39 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Listing ID             15691 non-null  float64
 1   Listing Name           15638 non-null  object
 2   Host ID                15692 non-null  float64
 3   Host Name              15670 non-null  object
 4   Host Since             15671 non-null  object
 5   Host Response Time     8617 non-null   object
 6   Host Response Rate     8617 non-null   object
 7   Is Superhost           15669 non-null  object
 8   neighbourhood          15692 non-null  object
 9   Neighborhood Group     15692 non-null  object
 10  City                   15691 non-null  object
 11  Postal Code            15463 non-null  object
 12  Country Code           15692 non-null  object
 13  Country                15692 non-null  object
 14  Latitude               15692 non-null  float64
 15  Longitude              15692 non-null  float64
 16  Is Exact Location      15692 non-null  object
 17  Property Type          15692 non-null  object
 18  Room Type              15692 non-null  object
 19  Accomodates            15692 non-null  object
 20  Bathrooms              15678 non-null  object
 21  Bedrooms               15687 non-null  object
 22  Beds                   15684 non-null  object
 23  Square Feet            303 non-null    float64
 24  Guests Included        15692 non-null  object
 25  Min Nights             15692 non-null  object
 26  Reviews                15692 non-null  int64
 27  First Review           12987 non-null  object
 28  Last Review            12986 non-null  object
 29  Overall Rating         12730 non-null  float64
 30  Accuracy Rating        12721 non-null  float64
 31  Cleanliness Rating     12722 non-null  float64
 32  Checkin Rating         12719 non-null  float64
 33  Communication Rating   12722 non-null  float64
 34  Location Rating        12721 non-null  float64
 35  Value Rating           12720 non-null  float64
 36  Instant Bookable       15692 non-null  object
 37  Business Travel Ready  15692 non-null  object
 38  Price                  15683 non-null  float64
dtypes: float64(13), int64(1), object(25)
memory usage: 4.7+ MB